html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #131313;
    color: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    user-select: none;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    padding: 1rem 0;
    border-radius: 1.25rem 1.25rem 1.25rem 0.25rem;
    background: #36393f;
    max-width: 30vw;
}

.text {
    padding-right: 1rem;
}

.text div {
    margin: 0.25rem 0;
}

.text .person-info {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.text #now {
    font-size: 0.75rem;
}

.text .user {
    font-weight: 600;
}

#quote {
    cursor: pointer;
}

.profile {
    margin: 0.25rem 1rem;
    background: #006666;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

@media screen and (max-width: 800px) {
    .message {
        max-width: 100vw;
        margin: 0 30px;
    }
}
